body {
    font-family: 'segoe ui', 'lucida grande', "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    width: 500px;
    min-width: 500px;
    margin: 5px 10px 5px 10px;
}

#status {
    /* avoid an excessively wide status text */
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
}

.page-header {
    padding-bottom: 1px;
    margin: 5px 10px 5px 10px;
    padding-left: 5%;
    padding-left: 5%;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.result {
    margin: 5px 5px 5px 5px;
}

.intro {
    font-weight: 900;
}

.lines {
    padding: 0 20px 0;
    margin: 20px 0;
    line-height: 1px;
    border-left: 200px solid #ddd;
    border-right: 200px solid #ddd;
    text-align: center;
}

.well {
    margin-top: 10px;
    font-family: monospace;
}

#wordle {
    float: center;
}
